<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn1" type="button">ajax请求</button>

    <form id="uploadForm" enctype="multipart/form-data">
        文件:<input type="file" name="file" multiple="multiple"/><br>
    </form>


    <button id="btn2" type="button">发文件</button>

    <script th:src="@{/aaa/jquery-3.6.0.min.js}"></script>

    <script type="text/javascript" th:inline=none>
        var list1=[1,2,3];
        var dict1={"name2":"翠花"};
        // function Object1(){
        //     this.name2 = "翠花";
        // }

        //post请求时，作为有效载荷，格式应为data='{"x":"x","x":[],"x":{}}'
        var data1=JSON.stringify({
            "name": "小甜甜",
            "aaaDomain2":dict1,
        })

        //get请求时，作为查询字符串，格式应为data={"x":"x","x":"[]","x":"{}"}
        var data2={
            "pageSize":"10",
            "pageNum":"1",
        };

        $(document).ready(function(){
        	$("#btn1").click(function(){
        		$.ajax({
                    url:"http://127.0.0.1:80/aaa/d",
                    type:"post",
                    contentType:"application/json",
                    // contentType:"application/json;charset=UTF-8",
                    // dataType : "json",
                    headers:{
                    },
                    data:data1,

                    success:function(){
                        alert("success");
                        console.log(data);
                        },
                    error:function () {
                        alert("error");
                    }
                });
        	});

            $("#btn2").click(function(){
                var formData = new FormData($('#uploadForm')[0]);

                $.ajax({
                    url:"http://127.0.0.1:80/aaa/e",
                    type:"post",
                    //必填
                    contentType:false,
                    processData:false,
                    headers:{
                    },
                    data:formData,

                    success:function(){
                        alert("success");
                    },
                    error:function () {
                        alert("error");
                    }
                });
            });

        });
    </script>
</body>
</html>